cloudflare_email = ""
cloudflare_account_id = ""
cloudflare_api_key = ""

hcloud_token = ""

aaaa_records = [
  { name = "@", address = "", proxied = true },
  { name = "www", address = "", proxied = true },
  { name = "git", address = "", proxied = false }
]

cname_records = [
  { name = "testcname", address = "cnametarget.tld", proxied = false }
]

ns_records = {
  "test" = [
    "ns1.example.org",
    "ns2.example.org",
    "ns3.example.net"
  ]
}
