cloudflare_email = ""
cloudflare_account_id = ""
cloudflare_api_key = ""

hcloud_token = ""

ipv6_addresses = [
  { name = "@", address = "", proxied = false },
  { name = "www", address = "", proxied = false },
  { name = "git", address = "", proxied = true }
]
